@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    background-color: rgb(236, 236, 238);
    height: 100vh;
    display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 3fr 1fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main announcements"
    "sidebar main trending";
}

img {
    border-radius: 50%;
    cursor: pointer;
}

/* sidebar-start */
.sidebar {
    background-color: rgb(24, 147, 230);
    color: white;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    padding: 1rem;
    align-items: baseline;
}

.sidebar div h2 {
    display: inline;
    padding-left: 1rem;
    font-size: 1.3rem;
}

.sidebar div > div {
    padding: .6rem 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    color: #eee;
}

.sidebar svg {
    color: white;
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .4rem;
}

.dashboard h1 {
    font-size: 1.6rem;
}

.dashboard svg {
    height: 2.6rem;
}
/* sidebar-end */

/* header-start */
.header {
    background-color: #fff;
    grid-area: header;
    display: flex;
    flex-flow: column nowrap;
    padding: .4rem 2rem;
}

.header .search-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
}

.header .search-row .searchbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-row #search {
    background-color: rgb(236, 236, 238);
    height: 1.8rem;
    border: none;
    border-radius: 1rem;
    flex: 1;
    padding: 0 0.6rem;
    font-size: 1rem;
}

.search-row .icons svg, .icons img, .icons span {
    cursor: pointer;
}

.search-row .searchbar #search:hover {
    background-color: rgb(207, 207, 209);
}

.search-row .icons {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    align-items: center;
    gap: .4rem;
    font-weight: bold;
}

.search-row .icons img {
    height: 3.8rem;
    width: auto;
}
.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-row .profile {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.main-row .profile img {
    height: 5rem;
    width: auto;
}

.main-row .profile .hi {
    font-size: .9rem;
}

.main-row .profile .name {
    font-size: 1.4rem;
    cursor: pointer;
}

.main-row .nav-buttons {
    display: flex;
    gap: 1.6rem;
}

.main-row button {
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(24, 147, 230);;
    border: none;
    padding: .6rem 1.6rem;
    color: white;
    border-radius: 2rem;
}

.main-row button:hover {
    background-color: rgb(12, 116, 185);
}
/* header-end */

/* main-start */
.main {
    grid-area: main;
}

.main h2 {
    padding: 1.8rem 0 .6rem 0;
    font-size: 1.3rem;
}
/* main-end */

/* announcements-start */
.announcements {
    grid-area: announcements;
}

.announcements h2 {
    padding: 1.8rem 0 .6rem 0;
    font-size: 1.3rem;
}

.an-content {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: .6rem;
    background-color: #fff;
    border-radius: .6rem;
    margin-right: 1rem;
}

.an-content h3 {
    font-size: 1rem;
}

.an-content p {
    font-size: .9rem;
    color: gray;
}
/* announcements-end */

/* trending-start */
.trending {
    grid-area: trending;
}

.trending h2 {
    padding: 1.8rem 0 .6rem 0;
    font-size: 1.3rem;
}
/* trending-end */
